@model IList<SurveyResultVM>
@{
    ViewData["Title"] = "Results";
}

<h2>Daily Survey Results</h2>


@foreach (SurveyResultVM result in Model)
{
    <img src="~/images/parks/@(result.ParkCode).jpg" />
    <p>@result.ParkName is a favorite.</p>
    <p>Total Votes: @(result.NumOfFaves)</p>
}

