@model IList<SurveyResult>
@{
    ViewData["Title"] = "Results";
}


<h2>Daily Survey Results</h2>
@foreach (SurveyResult result in Model)
{

}

<!--Find a way to count the total of each ParkCode in the database table and display the total count next to its parkcode-->
