
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<img id="HeaderLogo" src="~/images/logo.png" />

<h1 id="HeaderText">National Park Geek</h1>

<h2><a asp-controller="Home" asp-action="Index">Home</a></h2>
<h2><a asp-controller="Survey" asp-action="Index">Survey</a></h2>