@model ParkWeatherVM
@*

*@

<table>

    <thead>
        <tr>
            <th>Today</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (Weather day in Model.Weather)
        {
            <tr>
                <td><img src="~/images/weather/@(Model.DisplayWeatherIcon(Model.Weather)).png" /></td>
            </tr>
            <tr>
                <td>@day.High</td>
                <td>@day.Low</td>
                <td>@day.Forecast</td>
                <td><h3>@Model.WeatherAdvice["weather"]</h3></td>
            </tr>
        }

    </tbody>
</table>