@model IList<Park>
@{
    ViewData["Title"] = "Home Page";
}



<table>

    @foreach (Park park in Model)
    {

        <tr>
            <div class="park">
                <td><a asp-controller="Home" asp-action="Detail" asp-route-parkCode="@park.ParkCode"><img class="homephoto" src="/./images/parks/@(park.ParkCode).jpg" /></a></td>
                <td><label>@park.ParkName</label></td>
                <td><label>@park.State</label></td>
                <td><p>@park.ParkDescription</p></td>
            </div>
        </tr>

    }


</table>