@model IList<Park>
@{
    ViewData["Title"] = "Home Page";
}



    <table>

        @foreach (Park park in Model)
        {
            <a asp-controller="Home" asp-action="Detail">
                <tr>
                    <div class="park">
                        <td><img class="homephoto" src="/./images/parks/@(park.ParkCode).jpg" /></td>
                        <td><label>@park.ParkName</label></td>
                        <td><label>@park.State</label></td>
                        <td><p>@park.ParkDescription</p></td>
                    </div>
                </tr>
            </a>
        }


    </table>