@model IList<Park>
@{
    ViewData["Title"] = "Home Page";
}



<body id="grid">

    @foreach (Park park in Model)
    {

        <a id="park" asp-controller="Home" asp-action="Detail" asp-route-parkCode="@park.ParkCode">

            <div class="park">
                <section id="parkphoto">
                    <img class="homephoto" src="/./images/parks/@(park.ParkCode).jpg" />
                </section>
                <section id="parkinfo">
                    <h3 id="parkname">@park.ParkName</h3>
                    <h5>@park.State</h5>
                    <p>@park.ParkDescription</p>
                </section>

            </div>

        </a>
    }


</body>

