/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.container {
    max-height: 500px;
}

#headerlogo {
    max-width: 100%;
    max-height: 100%;
}


#grid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.park {
    flex-basis: auto;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    border: solid 1px gray;
}

#parkphoto {
    padding: 5px;
}

#parkinfo {
    padding: 5px;
}


#park {
    color: black;
    text-decoration: none;
}

    #park:hover {
        text-decoration: none !important;
        border: 0 !important;
        color: black;
        text-decoration-line: unset;
    }

.detailphoto {
    width: 100%;
    display: block;
    margin: auto;
}

#name {
    margin: 0px;
}

#description {
    text-emphasis-color: black;
}


#weather {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.days {
    flex: 0 0 100%;
    margin: 4px;
    max-width: 20%;
    text-align: center;
}

#today {
    flex: 0 0 20%;
    text-align: center;
}

#todayImg {
    width: 100%;
    height: auto;
}

.daysImg {
    width: 50%;
    height: auto;
}

.days h5 {
    font-size: 12px;
}

.days p {
    font-size: 10px;
}


#resultpage {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#results {
    flex-basis: auto;
    display: grid;
    max-height: 200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "img park count";
    margin: 50px;
}

#resultimg {
    padding: 10px;
    grid-area: img;
}

#imgpark {
    height: 200px;
    float: right;
    padding: 5px;
    border: solid 1px black;
}

#resultpark {
    grid-area: park;
    padding: 10px;
    vertical-align: middle;
    line-height: 200px;
}

    #resultpark h3 {
        font-size: medium;
        text-align: center;
        padding: 5px;
        border: solid 1px black;
    }

#resultcount {
    grid-area: count;
    padding: 10px;
    vertical-align: middle;
    line-height: 200px;
}

    #resultcount h3 {
        font-size: medium;
        text-align: center;
        padding: 5px;
        border: solid 1px black;
    }
